@import '~office-ui-fabric-react/dist/sass/References.scss';

.OpsStats {
    .Box {
        border: 1px solid #92D050;
        max-width: 300px;
        padding: 10px;
    }   

    .Title {
        text-align: center;
        font-size: 24px;
        color: #92D050;
    }

    .Numbers {
        text-align: center;
        font-size: 30px;
        color: #ffffff;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .SubGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 14px;
    }

    .center {
        text-align: center;
        color: #ffffff;
    }
}